/* Bootstrap importation */
/* @import '~bootstrap/dist/css/bootstrap.min.css'; */
/*	-------------------    \
		COLOR THEME
\	-------------------   */
html,body{
    margin: 0;
    background-color: #ededee;
}
/* .bg-loupiote{
	background-image: url(../Maquette_Site/img/04llp.JPG) !important;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
} */
.bg-white-light{
	background-color: #ededee !important;
}

.bg-black-dark{
	background-color: #323232 !important;
}

.dark-text{
	color: #323232 !important;
}
.light-text{
	color: #FDFEFE !important;
}
.paraph-text{
	font-size: 1.5em;
}

.bg-texture-bois1{
    background-image: url("./assets/img/Texture_Bois_v2.png") ;

/* Full height */
  height: 100vh; 

 /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/*	-------------------    \
		HEADER
\	-------------------   */
#logo{
	width: 2.5em;
}
.translator img{
	width: 2em;
	border-radius: 18%;
}

.carousel-item img{
	height: 50em;
}

.carousel-caption{
	margin: auto;
	opacity: 0.65;
	width: 50%;

	margin-bottom: 20em;
}

.laloupiote-title{
	font-family: 'Great Vibes', cursive;
	font-size: 3.5em;
}
.fa-angle-double-down{
	color: #FDFEFE;
	font-size: 2.5em;
}
.fa-angle-double-down:hover{
	color: #626567; 
	font-size: 2.5em;
}

.btn-ghost {
    display: inline-block;
    background: transparent;
    text-transform: uppercase;
    font-weight: 500;
    font-style: normal;
    font-size: 0.625rem;
    letter-spacing: 0.3em;
    color: #fff;
    border-radius: 0;
    padding: 0.7em 3.5em 0.7em;
    transition: all 0.7s ease-out !important;
    background: linear-gradient(270deg, rgba(223,190,106,0.8), rgba(146,111,52,0.8), rgba(34,34,34,0), rgba(34,34,34,0));
    background-position: 1% 50%;
    background-size: 300% 300%;
    text-decoration: none;
    margin: 0.625rem;
    border: none;
    border: 1px solid rgba(223,190,106,0.3);
  }
  
  .btn-ghost:hover {
      /**/
    color: #000 !important;
    border: 1px solid rgba(223,190,106,0);
    background-position: 99% 50%;
  }


/*	-------------------    \
		FOOTER
\	-------------------   */
.network img{
	width: 2.5em;
	border-radius: 18%;
}



#logo-footer{
	width: 8em;
}


/*	-------------------    \
		FONT
\	-------------------   */


@font-face {
    font-family: 'harlow_solidregular';
    src: url('./assets/fonts/harlow_solid_regular-webfont.woff2') format('woff2'),
         url('./assets/fonts/harlow_solid_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

    font-family: 'Footlight MT';
    src: url('./assets/fonts/FootlightMTLight.woff2') format('woff2'),
        url('./assets/fonts/FootlightMTLight.woff') format('woff');
    font-weight: 300;
    font-style: normal;

    font-family: 'Tempus Sans ITC';
    src: url('./assets/fonts/TempusSansITC.woff2') format('woff2'),
        url('./assets/fonts/TempusSansITC.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

