<div class="container justify-content-center" id="mentionsLegales">
	<div class="row justify-content-center mentions-legales ">
		<div class="col-10 align-items-center m-5">
			<h2 class="text-center m-4">MENTIONS LEGALES</h2>


			<p>
				Le présent document a pour objet de définir les modalités et conditions dans lesquelles d’une part,<b><i>SARL CBAM</i></b>,
				ci-après dénommé l’EDITEUR, met à la disposition de ses utilisateurs
				le site <b><i>www.la-loupiote.fr</i></b>, et les services disponibles sur le site et d’autre
				part, la manière par laquelle l’utilisateur accède au site et
				utilise ses services.

				Toute connexion au site est subordonnée au respect des présentes
				conditions.

				Pour l’utilisateur, le simple accès au site de l’EDITEUR à l’adresse
				URL suivante <b><i>www.la-loupiote.fr</i></b> implique l’acceptation de l’ensemble des conditions
				décrites ci-après.
			</p>

			<p>
				<b>Liens hypertextes:</b>
				Le site <b><i>www.la-loupiote.fr</i></b> peut contenir des liens hypertextes vers d’autres sites
				présents sur le réseau Internet. Les liens vers ces autres ressources
				vous font quitter le site <b><i>www.la-loupiote.fr</i></b>. <b><i>www.la-loupiote.fr</i></b> ne peut être tenu pour
				responsable
				des produits, des informations, du contenu figurant sur les sites
				liés.

				Il est possible de créer un lien vers la page de présentation du site <b><i>www.la-loupiote.fr</i></b> sans
				autorisation
				expresse de la société <b><i>SARL CBAM</i></b>. Il convient toutefois d’afficher ce site dans une nouvelle
				fenêtre du navigateur. Cependant, la société <b><i>SARL CBAM</i></b> se réserve le droit de demander la suppression
				d’un lien qu’il estime non conforme à l’objet du site <b><i>www.la-loupiote.fr</i></b>.

			</p>

			<P>
				<b>Responsabilité de l’éditeur : </b>
				Les informations et/ou documents figurant sur ce site et/ou accessibles par ce site proviennent de sources
				considérées comme étant fiables.

				Toutefois, ces informations et/ou documents peuvent contenir des inexactitudes techniques et des erreurs
				typographiques.

				Les informations et/ou documents disponibles sur ce site sont susceptibles d’être modifiés à tout moment, et
				peuvent faire l’objet de mises à jour.

				L’utilisation des informations et/ou documents disponibles sur ce site se fait sous l’entière et seule
				responsabilité de l’utilisateur, qui assume la totalité des conséquences pouvant en découler, sans que la société
				<b><i>SARL CBAM</i></b> puisse être recherchée à ce titre, et sans recours contre ce dernier.

				<b><i>SARL CBAM</i></b> ne pourra en aucun cas être tenu responsable de tout dommage de quelque nature qu’il soit
				résultant de l’interprétation ou de l’utilisation des informations et/ou documents disponibles sur ce site.
			</P>

			<p>
				<b>Accès au site: </b>
				<b><i>SARL CBAM</i></b> s’efforce de permettre l’accès au site 24 heures sur 24, 7 jours sur 7, sauf en cas de
				force majeure ou d’un événement hors du contrôle de la société éditrice, et sous réserve des éventuelles pannes et
				interventions de maintenance nécessaires au bon fonctionnement du site et des services.

				Par conséquent, <b><i>SARL CBAM</i></b> ne peut garantir une disponibilité du site et/ou des services et des
				performances en termes de temps de réponse ou de qualité. Il n’est prévu aucune assistance technique vis à vis de
				l’utilisateur que ce soit par des moyens électronique ou téléphonique.

				La responsabilité de <b><i>SARL CBAM</i></b> ne saurait être engagée en cas d’impossibilité d’accès à ce site et/ou
				d’utilisation des services.

				Par ailleurs, la société <b><i>SARL CBAM</i></b> peut être amenée à interrompre le site ou une partie des services,
				à tout moment sans préavis, le tout sans droit à indemnités. L’utilisateur reconnaît et accepte que <b><i>SARL CBAM</i></b>
				ne soit pas responsable des interruptions, et des conséquences qui peuvent en découler pour l’utilisateur ou tout
				tiers.
			</p>

			<p>
				<b>Protection des données personnelles :</b>
				Les informations recueillies font l’objet d’un traitement informatique destiné à la relation client et commerciale
				de <b><i>SARL CBAM</i></b>. Les destinataires des données sont les utilisateurs du site <b><i>www.la-loupiote.fr</i></b>
				ayant saisi un formulaire de demande de renseignements de quelque nature que se soit.

				Conformément à la loi « informatique et libertés » du 6 janvier 1978 modifiée en 2004, l’utilisateur bénéficie d’un
				droit d’accès et de rectification aux informations qui le concernent, qu’il peut exercer en s’adressant à <b><i>www.la-loupiote.fr</i></b>
				. Il peut également, pour des motifs légitimes, s’opposer au traitement des données le concernant.
			</p>

			<p>
				<b>Cookies :</b>
				<b><i>SARL CBAM</i></b> peut utiliser des cookies sur le site web <b><i>www.la-loupiote.fr</i></b>. Les cookies
				sont des fichiers textes qui contiennent un certain nombre d’informations qui sont téléchargées sur votre
				ordinateur ou votre appareil mobile lorsque vous visitez un site web. Les cookies sont ensuite renvoyés au site web
				qui les produit lors de chaque visite postérieure. Les cookies sont utiles parce qu’ils permettent à un site web de
				reconnaître l’appareil d’un particulier. Les cookies ne peuvent diffuser un virus ni endommager l’ordinateur.

				Sur le site web <b><i>www.la-loupiote.fr</i></b> sont utilisés des cookies analytiques fournis par Google et Adobe,
				en tant que services “Analytics” et des cookies de retargeting fournis par Google Adwords. Ces cookies sont
				utilisés pour collecter des informations sur la façon dont les visiteurs utilisent le site web <b><i>www.la-loupiote.fr</i></b>
				Les informations récoltées servent à établir des rapports qui aident <b><i>SARL CBAM</i></b> à améliorer les
				fonctionnalités de son site web. Ces cookies expirent automatiquement 6 mois après la dernière visite de
				l’utilisateur sur le site web .

				Les cookies collectent les informations de manière anonyme. <b><i>SARL CBAM</i></b> n’utilise jamais de cookies
				pour enregistrer des informations personnelles sur ses visiteurs.

				En utilisant ce site web vous acceptez que nous installions ces cookies analytiques et de retargeting sur votre
				ordinateur ou votre appareil mobile.

				Vous trouverez plus d’informations relatives à l’activation/la désactivation, la suppression des cookies dans les
				fonctionnalités de sécurité du navigateur que vous utilisez (vérifiez les options disponibles pour votre navigateur
				ou consultez le site web de votre fournisseur de navigateur pour de plus amples informations). Pour plus
				d’informations sur l’utilisation des cookies sur un appareil mobile et comment vous pouvez les désactiver et les
				supprimer, vous pouvez vous référer aux instructions du fabricant.

				Si vous souhaitez bloquer automatiquement tous les cookies venant de Google analytics, cliquez ici.

				<b><i>SARL CBAM</i></b> utilise sur son site web des boutons de partage social (« social sharing buttons ») pour
				permettre à l’utilisateur de partager les publications sur les sites de réseaux sociaux comme « Facebook » et «
				Trip Advisor ». Afin que ce partage fonctionne <b><i>SARL CBAM</i></b> s’appuie sur des scriptes externes.
				L’utilisateur déclare être conscient que ces sites ont la possibilité de collecter des informations sur ses
				habitudes de navigation, même s’il ne clique sur aucun des boutons présents sur
			</p>

			<p>
				<b>Modification des conditions d’utilisation : </b>
				<b><i>SARL CBAM</i></b> se réserve la possibilité de modifier, à tout moment et sans préavis, les présentes
				conditions d’utilisation afin de les adapter aux évolutions du site et/ou de son exploitation.
			</p>

			<p>
				<b>Droit applicable :</b>
				Tant le présent site que les modalités et conditions de son utilisation sont régis par le droit français, quel que
				soit le lieu d’utilisation. En cas de contestation éventuelle, et après l’échec de toute tentative de recherche
				d’une solution amiable, les tribunaux français seront seuls compétents pour connaître de ce litige.

				Pour toute question relative aux présentes conditions d’utilisation du site, vous pouvez nous écrire à l’adresse
				suivante : bruno.jerome@orange.fr.
			</p>
		</div>
	</div>
</div>