<!-- Footer -->
<footer class="page-footer bg-dark font-small blue pt-4 light-text">

	<!-- Footer Links -->
	<div class="container-fluid text-center text-md-left">
	<!-- Grid row -->
	<div class="row">
	<!-- Grid column -->
	<div class="col-lg-5 col-md-5 col-sm-12">
	<!-- <div class="col-12 col-lg-5 col-xl-5 mt-md-0 mt-3"> -->
	<!-- Content -->
	<!-- <h5 class="text-uppercase">PAGE</h5> -->
	<ul class="list-unstyled">
	<li>
	<a class="light-text" routerLink="/cgu">Mentions légales</a>
	</li>
	<li>
	<a class="light-text" routerLink="/contact">contact</a>
	</li>
	</ul>       
	</div>
	
	<!-- <hr class="clearfix w-100 d-md-none pb-3"> -->
	<!-- Grid column -->
	<div class=" col-lg-6 col-md-6 col-sm-12">
	<!-- Links -->
	
	<h5 class="text-uppercase">Retrouvez nous</h5>
	<ul class="list-unstyled ">
	
	<!--Test separation des logos -->
	
	<div class="row d-flex justify-content-center">
	<div class="col-lg-1 col-md-3 col-sm-4 col-3">
	<a href="https://www.facebook.com/laloupiote28/?ref=br_rs"
	class="network" target="_blank">
	<img id="fb-network" src="assets/img/fb.png">
	</a>
	</div>
	
	<div class="offset-lg-1 col-lg-10 col-md-9 col-sm-6 col-3">
	<a href="https://www.tripadvisor.fr/Restaurant_Review-g1079449-d1331982-Reviews-A_la_Loupiote-La_Loupe_Eure_et_Loir_Centre_Val_de_Loire.html" class="network" target="_blank">
	<img id="tp-network" src="assets/img/tpa.jpg">
	</a>
	</div>
	
	</div>
	
	<!-- <li class=" mb-2 ml-5 mr-5">
	
	<a routerLink="https://www.facebook.com/laloupiote28/?ref=br_rs"
	class="network" target="_blank">
	<img id="fb-network" src="../../../assets/img/fb.png">
	</a>
	
	<a routerLink="https://www.tripadvisor.fr/Restaurant_Review-g1079449-d1331982-Reviews-A_la_Loupiote-La_Loupe_Eure_et_Loir_Centre_Val_de_Loire.html" class="network" target="_blank">
	<img id="tp-network" src="../../../assets/img/tpa.jpg">
	</a>
	</li> -->
	</ul>
	</div>
	
	<!-- Grid column -->
	<div class="col-12 col-lg-2 col-xl-2 mb-lg-0 ml-lg-auto mb-3">
	
	<!-- <h5 class="text-uppercase">Links</h5> -->
	
	</div>
	
	</div>
	</div>
	
	<!-- Copyright -->
	<div class="container-fluid footer-copyright text-center">© 2018 Copyright:
	<a routerLink="html/contact.html"> Team Loupiote</a>
	</div>
	<!-- Copyright -->
	
	</footer> 