<!--  ARTICLE-->
<section class="bg-black-dark light-text">
		<div class="container section-content">
			<div class="row">
				<div class="col-12">
					<div class="d-flex justify-content-center">
						<h2>Actualité</h2>
					</div>
						<p>
							{{ article.content }}
						</p>
						<p *ngIf="article.hasFile" > voici une pièce jointe pour plus d'informations
							<a [href]="attachment" target="_blank">
								<i class="far fa-file-pdf"></i>
							</a>
						</p>
				</div>
			</div>
		</div>
</section>